.container-ex {
    background-color: rgb(252, 161, 86);
    width: 85%;
    margin: auto;
    border: 5px inset rgb(158, 40, 40);
    color: black;
    padding: 20px;
    box-shadow: -20px 15px 10px rgb(104, 8, 8);
}

.ex-description {
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: all 1s ease;
    font-family: 'Bungee Inline', cursive;
}

.ex-description:hover {
    background-color: brown;
    color: white;
    border-radius: 30px;
}

.error-contain {
    width: 45%;
    margin: auto;
    padding: 20px;
}

.error-contain h2 {
    font-family: 'Bungee Inline', cursive;
    margin-top: 20px;
}

.img-error {
    width: 10vw;
}